<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522399395270-89mnten887v7405fj9vk75m0n9jvfv5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522399395270-89mnten887v7405fj9vk75m0n9jvfv5k</string>
	<key>API_KEY</key>
	<string>AIzaSyDwNQ8P4_0ltgqQaZu-_hVDR8pKNy42Rl8</string>
	<key>GCM_SENDER_ID</key>
	<string>522399395270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Program.WordzApp</string>
	<key>PROJECT_ID</key>
	<string>wordz-564f6</string>
	<key>STORAGE_BUCKET</key>
	<string>wordz-564f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522399395270:ios:2e96253b142abd744656c7</string>
	<key>DATABASE_URL</key>
	<string>https://wordz-564f6.firebaseio.com</string>
</dict>
</plist>